" List of commands: https://jb.gg/h38q75
" Examples: https://jb.gg/share-ideavimrc


"Plugins
set NERDTree
nnoremap <leader><leader> :NERDTree<cr>


"set quickscope
set commentary
set highlightedyank
set argtextobj

"Leader key
let mapleader = " "

"IDE actions
nmap <leader>gg :action GotoDeclaration<cr>
nmap <leader>re :action RenameElement<cr>
nmap <leader>a :action ShowIntentionActions<cr>
nmap <leader>e :action ShowErrorDescription<cr>
nmap <leader>f :action GotoSuperMethod<cr>
nmap <leader>ru :action Rerun<cr>

set scrolloff=999

" Do incremental searching.
set incsearch

inoremap hh <ESC>
nnoremap <Leader>o o<Esc>
nnoremap <Leader>O O<Esc>

set relativenumber
set number
